/* Tag selectors */
a, a:hover {
    color: #a3dbd6;;
    text-decoration: none;
}

article {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-transform: none;
}

body {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

blockquote {
    margin-right: 8vw;
    font-size: .8em;
}

footer {
    display: flex;
    background-color: rgb(109, 155, 135);
    border-top: 0;
    position: fixed;
    bottom: 0;
    height: 5.1em;
    width:100vw;
    white-space: nowrap;
}

.emailform {
    position: fixed;
    padding: 0;
    left: 50px;
    bottom: 30px;
    display: inline-block;
    z-index: 1;
}

header {
    position: fixed;
    background-color: rgb(109, 155, 135);
    border-bottom: 0;
    width: 100%;
    height: 6.1vh;
}

h1 {
    position: absolute;
    top: 1.7vh;
    left: 2vw;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -0.050em;
}

h2 {
    text-align: center;
    margin-top: 1.7vh;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -0.050em;
}

h3 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: -0.050em;
    color: black;
}

h5 {
    text-transform: none;
}

label {
    margin-right: 2vw;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    text-transform: none;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


/* Class selectors */
.aboutback {
    background-color: rgb(109, 155, 135);
}

.articles-leftcolumn {
    position: fixed;
    top: 15vh;
    float: left;
    width: 25%;
}

.articles-rightcolumn {
    position: absolute;
    right: 12vw;
    top: 15vh;
    width: 50%;
    z-index: -1;
    animation: moveup 2s;
}

.articlesback {
    background-color: rgb(88, 89, 164);
}

.articlesheaderfooter {
    background-color: rgb(88, 89, 164);
}

.bandcmp {
     border: 0;
     width: 350px;
     height: 442px;
 }

.blogpostheading p {
    display: inline;
}

.blogpostheading {
    padding-bottom: 20px;
}

.blogpost {
    border: .5px solid rgb(143, 128, 166);
    margin-bottom: 40px;
    padding: 20px;
}

.blogpost h4 {
    text-transform: none;
    font-family: "Libre Baskerville", serif;
    font-size: 2em;
    text-align: left;
}

.blogpost p {
    font-family: "Libre Baskerville", serif;
    font-size: 1.2em;
}

.blogtitlelink {
    color: black;
}

.blogtitlelink:hover {
    color: rgb(188, 124, 198);
}

.blogdate {
    float: right;
}

.blognav {
    position: absolute;
    width: 30%;
    left: 10vw;
    animation: moveside 2s;
}


.blogform {
    position: relative;
    top: 2vh;
}

.center {
    text-align: center;
}

.confirmbtn {
    background-color: rgb(225, 225, 225);
    border-radius: 8px;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: .5px .5px 3px grey;
    text-align: center;
}

.dropdown-item:hover {
    background-color: rgb(146, 156, 149);
}

.dropdown {
    position: fixed;
    top: 1.7vh;
    right: 2vw;
    background-color: inherit;
}

.dropdown-menu {
    background-color: inherit;
    border: 3px solid black !important;
}

.firstletter::first-letter {
    font-size: 4em;
    font-family: "Georgia", sans-serif;
    font-weight: normal;
}

.headlink, .headlink:hover {
    color: black;
    text-decoration: none;
}

.indexheaderfooter {
    background-color: rgb(218, 234, 227);
}

.lowercase {
    text-transform: none;
}

.litbtn {
    background-color: rgb(188, 124, 198);
    border: 1px solid rgb(101, 98, 183);
    font-weight: bold;
    box-shadow: .5px .5px 3px grey;
    text-align: center;
    margin-top: 4vh;
    padding: 2vh 2vw 2vh 2vw;
}

.litbtn:hover {
    background-color: rgb(94, 42, 102);
    color: rgb(188, 124, 198);
}

.litbtn:first-child {
    margin-top: 0;
}

.musicheaderfooter {
    background-color: rgb(164, 88, 159);
}

.okbtn {
    background-color: rgb(225, 225, 225);
    border-radius: 8px;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: .5px .5px 3px grey;
    width: 4vw;
}

.sociallist {
    display: inline-block;
    margin-right: 30px;
}

.tab {
    margin-left: 60px;
}

.videolist {
    text-align: center;
    padding-top: 12vh;

}

.videoheaderfooter {
    background-color: rgb(164, 88, 88);
}


/* id Selectors */
#aboutimg {
    background-image: url("dance.png");
    background-position: 50% 34%;
    width: 100%;
    height: 25em;
}

#abouttxt {
    margin-right: 20vw;
    margin-left: 20vw;
}

#dropdownMenuButton1, #dropdownMenuButton1:hover, #dropdownMenuButton1:active, #dropdownMenuButton1::after {
    content: none;
    color: black !important;
    background-color: inherit !important;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-right: 0;
    border-left: 0;
    width: 50px;
    height: 25px;
}

#email, #email:focus {
    outline: none;
    border-radius: 15px 50px;
    background-color: rgb(225, 225, 225);
    border: 1px solid black;
    margin-right: 1vw;
    box-shadow: 1px 1px 3px grey;
    text-align: center;
}

#home_img {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url("reachup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}



#musicback {
    background-color: rgb(164, 88, 159);
}

#confirmmsg {
    margin-left: 10px;
    margin-right: 10px;
}

#social {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 50px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

#stream {
    position: fixed;
    bottom: 0;
    left: 0;
}

#videosback {
    background-color: rgb(164, 88, 88);
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    transform: uppercase;
}

/* styling for iphone and ipad */
@media screen and (max-width: 800px) {
    #abouttxt {
        margin-right: 5vw;
        margin-left: 5vw;
    }

    #social {
        position: absolute;
        bottom: 3vh;
        right: 19vw;
    }

    h1 {
        visibility: hidden;
    }

    h2 {
        margin-right: 4vw;
    }

    header {
        height: 10vh;
    }

    .emailform {
        visibility: hidden;
    }

     .fn {
        z-index: -1;
    }

    /* found the following css on tipswithpunch youtube account:
    https://www.youtube.com/watch?v=9YffrCViTVk */

    .youtube {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      z-index: -1;
    }

    .youtube iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
}

/* adjustments specifically for articles page */
@media screen and (max-width: 677px) {

    .articles-rightcolumn {
        top: 30vh;
        right: 0vw;
        left: 2.4vw;
        width: 95%;
        animation: moveupphone 2s;

    }

    .articles-leftcolumn {
        position: absolute;
    }

    .litbtn {
        position: absolute;
        border-radius: 0;
        width: 80vw;
        height: 10vh;
        padding-right: 0;
        color: black;
        z-index: -1;
    }

    .blogform {
        top: 0;
    }
}

@keyframes moveup {
    from {top: 100vh;}
    to {top: 15vh;}
}

@keyframes moveupphone {
    from {top: 100vh;}
    to {top: 30vh;}
    }

@keyframes moveside {
    from {left: 0vw;}
    to {left: 10vw;}
}

