<!-- this is the homepage with a success modal -->

{% extends "layout.html" %}

{% block modal_title %}

	Woohoo!

{% endblock %}

{% block confirmmsg %}

	You are now subscribed to my newsletter! You will receive a confirmation email shortly and will be able to sever communication with me forever at any time by clicking unsubscribe.	

{% endblock %}

{% block script %}
	
	document.addEventListener('DOMContentLoaded', function () {
		  var myModal = new bootstrap.Modal(document.getElementById('mainmodal'));
		  myModal.show();
	  });
{% endblock %}
