{% extends "layout.html" %}

{% block title %}Music{% endblock %}

{% block headerfooter %}class="musicheaderfooter"{% endblock %}

{% block header %}Music{% endblock %}

{% block backgroundcolor %}id="musicback"{% endblock %}

{% block section %}

	<section>
            <div class="videolist">
                <ul>
                    <li><iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=3759447/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://mydearanacolutha.bandcamp.com/track/time-has-made-a-change-in-me">Time Has Made a Change in Me by My Dear Anacolutha</a></iframe></li>
                    <br><br>
                </ul>
            </div>
        </section>

{% endblock %}

{% block headerfootertwo %}id="musicback"{% endblock %}
