{% extends "layout.html" %}

{% block title %}Videos{% endblock %}

{% block backgroundcolor %}id="videosback"{% endblock %}

{% block headerfooter %}class="videoheaderfooter"{% endblock %}

{% block header %}Videos{% endblock %}


{% block section %}

        <section>
            <div class="videolist">
                <ul>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/ZqUMwznLfO8" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
					<li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/hZy8Vf8Wrrc?si=QUQZNIiSPY7GsLlD" title="YouTube video player" 
					frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/2rx4I3gsK8Q" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/_AiybQz-L8Q" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/VN3h-pBNSfA" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/sytScVjBdoM" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/9xd-Dh4kqEU" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/be9FTgXve40" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/n9XIIdL2hvk" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <li><div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/fDditp1OqjY" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div></li>
                    <br><br>
                    <br><br>
                </ul>
            </div>
        </section>

{% endblock %}

{% block headerfootertwo %}class="videoheaderfooter"{% endblock %}
